body{
    background-size: cover;
}

.formulário button {
    margin-right: 50px;
}

.butao{
   width: 16px;
   transform: translate(360px, 0%);
}

.formulário {
    display: flex;
    margin-left: 230px;
    margin-top: 10px;
    height: 44px;
    width: 40%;
    transform: translate(360px, 0%);
}

.Cadastro {
    text-align: center;
    color: #ec2e2e;
    font-size: 57px;
}

label{
    color:#ec2e2e;
    font-size: 140%;
}

input{
    border-color: #ec2e2e;
    border-radius: 10px;
}

button{
    border-color: #ec2e2e;
    border-radius: 10px;
    background-color:#ec2e2e;
    display: flex;
    margin-left: 230px;
    margin-top: 10px;
    height: 122%;
    width: 80px;
    font-size: 140%;
}

select{
    border-color: #ec2e2e;
    border-radius: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}
 

/*textarea {
    border-radius: 20px;
    border-color: #ec2e2e;
}
