.Informações {
    text-align: center;
    color: #ec2e2e;
    font-size: 60px;
}

fieldset{
    color:white;
    height: 400px;
    width: 40%;
    border-radius: 20px;
    font-size: 10px;
    
}

ul {
    list-style: none;
}

.voltar{
    background-color: rgb(250, 64, 64);
    border: 30px;
    padding: 20px;
    width: 10%;
    border-radius: 20px;
    border-color:rgb(207, 47, 47);
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    margin-top: 200px;
   }

button:hover{
    background-color: rgb(255, 135, 135);
   }

.cadastre-se{
    background-color: rgb(250, 64, 64);
    border: 30px;
    padding: 20px;
    width: 10%;
    border-radius: 20px;
    border-color:rgb(207, 47, 47);
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
   }

   button:hover{
    background-color: rgb(255, 135, 135);
   }

 body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}